body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto 0px;
  /* border: 2px solid black; */
}

.title {
  background: #e3f4ff;
  font-size: 18px;
  padding: 8px;
  border: 8px solid white;
  border-bottom: 0px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 8px solid white;
  border-top: 0px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  border: 8px solid white;
  border-top: 0px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  margin: auto;
}